*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("Images/background-image.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: darkgray; 
}

div{
    position:absolute; 
    right: 550px;  
}

p{
    font-size: 22px;
}

a{
    font-size: 20px;
    text-decoration: none;
}