*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

div{
    margin-top: 70px; 
    margin-bottom: 80px;
    margin-left: 450px;
    margin-right: 450px;
    padding: 200px;
    border: 8px solid darkgrey;
    text-align: center;
    height: 900px;
    background-image: url(Images/background-cooking-recipes-27254052.webp);
    background-size: cover;
    
}

h1{
    padding: 20px;
}

.start{
    font-size: 22px;
    padding: 20px;
    width: 300px;    
}

.end{
    font-size: 20px;
    margin-top: 100px;
    margin-left: 50px;
}

a{
    font-size: 20px;
    text-decoration: none;
    
}
